* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? css common property */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.btn {
  width: 187px;
  height: 56px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
}
/*? css common property */

/* header section starts here */
/* navbar section starts here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
/* navbar section ends here */
/* banner section starts here */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #161616;
  color: white;
  margin-block: 50px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}
.banner_left {
  width: 568px;
  height: 424px;
  padding-left: 50px;
}
.banner_left h2 {
  font-size: 3.4rem;
  font-weight: 700;
}
.banner_left p {
  font-size: 1rem;
  font-weight: 500;
  margin-block: 20px;
}
.banner_left button {
  color: white;
  background-color: #dd0000;
}
.banner_right {
  height: 600px;
}
.banner_right img {
  height: 100%;
}
/* banner section ends here */
/* header section ends here */
/*? main section starts here */
/*? upcoming matches section starts here */
.upcoming_matches {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 50px;
}
.upcoming_matches_left {
  max-width: 25%;
  width: 312px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 24px;
  background-color: #161616;
}
.upcoming_matches_left button {
  width: 90%;
}
.btn_3 {
  color: white;
  background-color: #dd0000;
}
.card_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  width: 312px;
  height: 362px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  font-family: "Poppins", sans-serif;
}
.card img {
  width: 100%;
  height: 174px;
  border-radius: 10px;
}
.card_info_section {
  padding: 20px;
}
.card button {
  font-family: "Poppins", sans-serif;
  width: 100px;
  height: 32px;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  cursor: pointer;
}
.card p {
  margin-block: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.view_time_section {
  display: flex;
  gap: 40px;
}
.view_time_section span {
  color: gray;
}
.view_time_section i {
  margin-right: 10px;
}
/*? upcoming matches section ends here */
/*? main section ends here */
/*? footer section starts here */
.footer_section {
  background-color: #161616;
  height: 444px;
  color: white;
  text-align: center;
}
.inner_footer_section {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
.footer_title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(168, 166, 166);
}
.footer_nav_links {
  display: flex;
  gap: 36px;
  padding-top: 30px;
}
.footer_nav_links li {
  list-style: none;
}
.footer_nav_links a {
  font-family: "Poppins", sans-serif;
  color: rgb(187, 184, 184);
  text-decoration: none;
}
/*? footer section starts here */