* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? css common property */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.btn {
  width: 187px;
  height: 56px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
}
/*? css common property */

/* header section starts here */
/* navbar section starts here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
/* navbar section ends here */
/* banner section starts here */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #161616;
  color: white;
  margin-block: 50px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}
.banner_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 568px;
  height: 424px;
  padding-left: 50px;
}
.banner_left h2 {
  font-size: 3.4rem;
  font-weight: 700;
}
.banner_left p {
  font-size: 1rem;
  font-weight: 500;
  margin-block: 30px;
}
.banner_left button {
  color: white;
  background-color: #dd0000;
}
.banner_right {
  height: 600px;
  animation: banner_img_scale_up 1s ease-in-out 4;
}
.banner_right img {
  height: 100%;
}

/*? animation for banner image */
@keyframes banner_img_scale_up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03) translateY(-10px);
  }
}
/*? animation for banner image */
/* banner section ends here */
/* header section ends here */
/*? main section starts here */
/*? upcoming matches section starts here */
.upcoming_matches {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 50px;
}
.upcoming_matches_left {
  width: 25%;
  width: 100%;
  height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 24px;
  background-color: #161616;
}
.upcoming_matches_left button {
  width: 90%;
}
.btn_3 {
  color: white;
  background-color: #dd0000;
}
.card_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  width: 312px;
  height: 362px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  font-family: "Poppins", sans-serif;
}
.card img {
  width: 100%;
  height: 174px;
  border-radius: 10px;
}
.card_info_section {
  padding: 20px;
}
.card button {
  font-family: "Poppins", sans-serif;
  width: 100px;
  height: 32px;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  cursor: pointer;
}
.card p {
  margin-block: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.view_time_section {
  display: flex;
  gap: 40px;
}
.view_time_section span {
  color: gray;
}
.view_time_section i {
  margin-right: 10px;
}
.view_all_btn {
  display: none;
}
.view_all_btn button {
  background-color: #dd0000;
  color: white;
}
/*? upcoming matches section ends here */
/*? main section ends here */
/*? footer section starts here */
.footer_section {
  background-color: #161616;
  height: 444px;
  color: white;
  text-align: center;
}
.inner_footer_section {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
.footer_title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(168, 166, 166);
}
.footer_nav_links {
  display: flex;
  gap: 36px;
  padding-top: 30px;
}
.footer_nav_links li {
  list-style: none;
}
.footer_nav_links a {
  font-family: "Poppins", sans-serif;
  color: rgb(187, 184, 184);
  text-decoration: none;
}
/*? footer section starts here */

/*? Responsive media query for small devices */

@media screen and (max-width: 576px) {
  .container {
    max-width: 94%;
    margin: 0 auto;
  }
  .navbar {
    display: block;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .navbar span {
    font-size: 1.1rem;
  }
  .nav_icons {
    display: flex;
    gap: 10px;
  }
  .banner {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-block: 30px;
  }
  .banner_left {
    width: 94%;
    height: 100%;
    padding-left: 6px;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
  }
  .banner_left h2 {
    font-size: 1.6rem;
    width: 100%;
  }
  .banner_left p {
    font-size: 0.8rem;
  }
  .btn {
    width: 160px;
    height: 40px;
    font-size: 1rem;
  }
  .banner_right {
    width: 233px;
    height: 245px;
  }
  .banner_right img {
    width: 100%;
  }
  .upcoming_matches {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .upcoming_matches_left {
    max-width: 100%;
    width: 210px;
    height: 176px;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
  }
  .upcoming_matches_left :nth-child(1),
  .upcoming_matches_left :nth-child(2) {
    border: 2px solid rgb(233, 232, 232);
    background-color: transparent;
  }
  .card_box {
    grid-template-columns: repeat(1, 1fr);
  }
  .inner_footer_section {
    max-width: 80%;
  }
  .footer_nav_links {
    flex-direction: column;
    gap: 30px;
  }
  .footer_nav_links a {
    font-size: 0.86rem;
  }
}
/*? Responsive media query for small devices */

/*? Responsive media query for Medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 94%;
    margin: 0 auto;
  }
  .banner {
    gap: 2px;
    justify-content: center;
  }
  .banner_left {
    max-width: 50%;
    width: 100%;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 2%;
  }
  .banner_left h2 {
    font-size: 2.3rem;
  }
  .banner_left p {
    font-size: 0.9rem;
  }
  .btn {
    width: 160px;
    height: 48px;
  }
  .banner_right {
    width: 323px;
    height: 348px;
  }
  .upcoming_matches {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .upcoming_matches_left {
    max-width: 98%;
    margin: 0 auto;
    flex-direction: row;
    background-color: white;
  }
  .upcoming_matches_left :nth-child(1),
  .upcoming_matches_left :nth-child(2) {
    border: 2px solid rgb(233, 232, 232);
    background-color: transparent;
  }
  .card_box {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .view_all_btn {
    margin-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner_footer_section {
    max-width: 80%;
  }
  .footer_nav_links {
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer_nav_links a {
    font-size: 0.9rem;
  }
}

/*? Responsive media query for Medium devices */
